[Unit]
Description=Spigot Telegram
After=network.target

[Service]
WorkingDirectory=/home/mcserver/minecraft-tg/
#PrivateUsers=true
User=mcserver
Group=mcserver
ProtectSystem=full

ExecStart=/bin/bash -c '/home/mcserver/minecraft-tg/tg.sh >> /home/mcserver/minecraft-tg/service.log 2>&1'
#ExecStopPost=

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
